.c-ButtonPrimary {
    margin-top: $fs-40;
    h2 {
        width: 15%;
        padding: $fs-8;
        margin: 0 auto;
        border-radius: $fs-72;
        margin: 0 auto;
        text-align: center;
        color: $white-color;
        font-size: $fs-20;
        background: linear-gradient(90deg, #101dfd, #04a1ff);
        border: 1.5px solid #04a1ff;
        transition: 0.5s;
        cursor: pointer;
        &:hover {
            border: 1.5px solid #04a1ff;
            color: #04a1ff;
            background: transparent;
        }
    }
}
