.c-headline {
    display: flex;
    justify-content: center;
    margin-bottom: $fs-40;
    h2 {
        position: relative;
        border: 1px solid #eee;
        font-size: $fs-20;
        color: $white-color;
        padding: $fs-8 $fs-32;
        border-radius: 50px;
        display: inline-block;
        cursor: pointer;
        overflow: hidden;
        z-index: 1;
        i {
            margin-right: $fs-8;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 50px;
            height: 100px;
            top: -36px;
            left: -60px;
            transform: rotate(19deg);
            padding: 0.55rem;
            background: linear-gradient(90deg, rgba(16, 29, 253, 0.1490196078), #04a3ffbc);
            z-index: -1;
            transition: top 0.5s ease;
            animation: headline 2s infinite;
        }
    }

    @media (max-width: 767px) {
        padding: $fs-12 0;
        margin-top: 0;
        h2 {
            padding: 0.55rem 1rem;
            font-size: $fs-14;
            &::after {
                width: 10%;
                height: 5px;
            }
        }
    }
}
@keyframes headline {
    0% {
        left: -60px;
    }
    100% {
        left: 190px;
    }
}
