@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.s-Introduction {
    font-family: "Anton", serif;
    padding: $fs-56 0;
    color: $white-color;
    &_left {
        border-right: 1px solid #eeeeee6f;
        h1 {
            font-size: $fs-40;
            color: $white-color;
            letter-spacing: $fs-8;
        }
        h2 {
            position: relative;
            display: flex;
            margin: $fs-36 0 $fs-52 0;
            font-weight: 600;
            font-style: normal;
            font-size: $fs-28;
            padding-left: 90px;
            align-items: center;

            &::after {
                content: "";
                position: absolute;
                bottom: 5px;
                left: 0;
                width: 80px;
                height: 1px;
                background-color: aqua;
            }

            .Typewriter__wrapper {
                animation: gradientText 2s ease-in-out infinite, typing 3s steps(30) 1s infinite;
                margin-left: $fs-8;
            }
        }
        h3 {
            font-style: italic;
        }
    }

    &_right {
        padding-top: 10px;
        h4 {
            font-size: $fs-28;
            color: #04a1ff;
        }
        p {
            font-size: $fs-20;
        }
        ul {
            list-style: circle;
            margin-left: $fs-32;
            margin-top: $fs-20;
            li {
                font-size: $fs-14;
                margin-bottom: $fs-12;
            }
        }
    }
    &_infor {
        margin-top: $fs-20;
        &_child {
            h5 {
                font-size: $fs-16;
                span {
                    color: #04a1ff;
                    margin-right: $fs-8;
                }
            }
            p {
                span {
                    color: #04a1ff;
                    margin-right: $fs-8;
                }
                font-size: $fs-16;
            }
        }
    }
}

@keyframes gradientText {
    0% {
        color: rgba(255, 255, 255, 0.727);
    }
    50% {
        color: $third-color;
    }
    100% {
        color: rgba(255, 255, 255, 0.727);
    }
}
