@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
    font-size: 16px;
}
body {
    font-family: "Kanit", serif;
    background-color: $primary-color;
}

.kanit-thin {
    font-weight: 100;
    font-style: normal;
}

.kanit-extralight {
    font-weight: 200;
    font-style: normal;
}

.kanit-light {
    font-weight: 300;
    font-style: normal;
}

.kanit-regular {
    font-weight: 400;
    font-style: normal;
}

.kanit-medium {
    font-weight: 500;
    font-style: normal;
}

.kanit-semibold {
    font-weight: 600;
    font-style: normal;
}

.kanit-bold {
    font-weight: 700;
    font-style: normal;
}

.kanit-extrabold {
    font-weight: 800;
    font-style: normal;
}

.kanit-black {
    font-weight: 900;
    font-style: normal;
}

.kanit-thin-italic {
    font-weight: 100;
    font-style: italic;
}

.kanit-extralight-italic {
    font-weight: 200;
    font-style: italic;
}

.kanit-light-italic {
    font-weight: 300;
    font-style: italic;
}

.kanit-regular-italic {
    font-weight: 400;
    font-style: italic;
}

.kanit-medium-italic {
    font-weight: 500;
    font-style: italic;
}

.kanit-semibold-italic {
    font-weight: 600;
    font-style: italic;
}

.kanit-bold-italic {
    font-weight: 700;
    font-style: italic;
}

.kanit-extrabold-italic {
    font-weight: 800;
    font-style: italic;
}

.kanit-black-italic {
    font-weight: 900;
    font-style: italic;
}

img {
    width: 100%;
    display: block;
}
a {
    text-decoration: none;
    color: $white-color;
}
input,
button,
textarea {
    font-family: inherit;
    border: none;
}
ul {
    list-style: none;
    margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 10px 0;
}
ul {
    padding-left: 0;
}
